/* import */
@import 'grid.min.css';
@import 'variable.css';
/* end import */

/* global */
html, body {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  background-color: var(--titan-white);
}
p {
  line-height: 25px;
  font-size: large;
}
a {
  text-decoration: none;
  color: unset;
}
img {
  width: 100%;
  height: 100%;
}
button {
  border: 0;
  background: var(--royal-blue);
  padding: 10px;
  color: var(--white);
  border-radius: 5px;
  cursor: pointer;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: var(--woodsmoke-01)
}
::-webkit-scrollbar-thumb {
  background: var(--woodsmoke-05)
}
::-webkit-scrollbar-thumb:hover {
  background: var(--woodsmoke-07)
}
.row {
  margin-right: 0;
  margin-left: 0;
}
.loader {
  position: absolute;
  background: var(--woodsmoke);
  width: 100%;
  height: 100vh;
  transition: all .3s;
}
.loader__spin {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid var(--titan-white);
  border-radius: 50%;
  border-top: 5px solid var(--royal-blue);
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}
.content {
  opacity: 0;
  position: fixed;
}
/* end global */

/* section 0 */
.navigation {
  height: 70px;
  position: fixed;
  width: 100%;
  background: var(--woodsmoke-05);
  display: flex;
  align-items: center;
  z-index: 1;
  color: var(--white);
}
.navigation__logo__desktop {
  width: 100px;
}
.navigation__logo__mobile {
  display: none;
}
.navigation__menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.navigation__menu__flag {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.navigation__menu__flag img {
  width: 20px;
  cursor: pointer;
  position: relative;
}
.navigation__menu__flag__option {
  position: absolute;
  display: flex;
  top: 40px;
  background: var(--royal-blue);
  padding: 5px;
  border-radius: 5px;
  visibility: hidden;
}
.navigation__menu__flag__option__id {
  margin-right: 5px;
}
.navigation__menu__item {
  cursor: pointer;
  color: var(--white-05);
}
.navigation__menu__item--active, .navigation__menu__item:hover {
  color: var(--white);
}
.navigation__menu a:not(:last-child) {
  margin-right: 20px;
}
/* end section 0 */

/* section 1 */
.intro {
  background: url(../images/17856.svg);
  padding-top: 200px;
  color: var(--white);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.intro .row:first-child {
  margin-bottom: 205px;
} 
.intro__greetings__name {
  font-weight: bold;
  font-size: xx-large;
  margin-bottom: 5px;
}
.intro__greetings__role {
  font-size: x-large;
  color: var(--white-05);
  margin-bottom: 10px;
}
.intro__photo {
  display: flex;
  justify-content: flex-end;
}
.intro__photo img {
  width: 80%;
}
.intro__cta a {
  display: flex;
  align-items: center;
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  height: 30px;
}
/* end section 1 */

/* section 2 */
.work {
  background: url(../images/17356.svg);
  background-size: 145%;
  background-position: top;
  background-repeat: no-repeat;
}
.work__title {
  color: var(--white);
}
.work__box {
  height: 200px;
  margin-bottom: 30px;
  cursor: pointer;
  transition: all .3s;
}
.work__box.work__box--bottom {
  margin-bottom: 0;
}

.package {
  background: url(../images/17356.svg);
  background-size: 145%;
  background-position: top;
  background-repeat: no-repeat;
}
.package__title {
  color: var(--white);
}
.package .package__card {
  width: 100%;
  transition: all .3s;
  cursor: default;
  text-align: center;
}
.package__card__header, .package__card__content {
  margin-bottom: 40px;
}
.package__card__header__title {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: large;
}
.package__card__header__price {
  font-size: x-large;
  font-weight: bold;
  color: var(--royal-blue);
}
.package__card__content {
  text-align: justify;
  height: 190px;
  overflow-y: auto;
  padding: 0 10px;
}
.package__card__button {
  display: flex;
  justify-content: center;
}
/* end section 2 */

/* section 3 */
.contact .row:nth-child(2) img {
  width: 50%;
}
.contact__footer {
  margin: 100px 0 15px 0;
  padding: 0;
}
.contact__footer .row > div:last-child {
  display: flex;
  justify-content: flex-end;
}
.contact__footer__btt {
  background: var(--royal-blue);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: var(--white);
  cursor: pointer;
}
.contact__footer__text {
  display: flex;
  align-items: center;
}
.contact__footer__text > div {
  display: flex;
}
/* end section 3 */

/* dry */
html, body, button {
  font-family: 'Lato', sans-serif;
}
.work__box, .package__card {
  width: 100%;
  box-shadow: rgb(54 127 238 / 6%) 0px 27px 72px;
  border-radius: 5px;
  background-color: var(--white);
  padding: 20px;
}
.work__box:hover, .package__card:hover {
  transform: scale(1.05);
}
.contact__footer__btt {
  display: flex;
  justify-content: center;
  align-items: center;
}
.work, .contact, .package {
  padding-top: 70px;
}
.contact__title, .work__title, .package__title {
  font-size: xx-large;
  font-weight: bold;
  margin-bottom: 50px;
}
/* end dry */

/* breakpoints */
@media(min-width: 1920px) {
  .col-sm-8 {
    padding: 0 150px 0 150px;
  }
  .col-sm-3:first-child {
    padding-left: 100px;
  }
  .col-sm-3:last-child {
    padding-right: 100px;
  }
  
  .intro .row:first-child {
    margin-bottom: 490px;
  }
  
  .package {
    background-size: 110%;
  }
}

@media(max-width: 1200px) {}
@media(max-width: 992px) {}
@media(max-width: 768px) {}
@media(max-width: 576px) {
  .navigation__logo__mobile {
    display: block;
    width: 50px;
  }
  .navigation__logo__desktop {
    display: none;
  }

  .intro {
    padding-top: 100px;
  }
  .intro__photo {
    order: 1;
    justify-content: center;
    margin-bottom: 30px;
  }
  .intro__greetings {
    order: 2;
  }

  .work, .package {
    background-size: 470%;
    background-position: top center;
  }
  .package__card:first-child {
    margin-bottom: 20px;
  }
}
/* end breakpoints */

/* animations */
@keyframes floating {
  0%   {padding-top:0;}
  25%  {padding-top:10px;}
  50%  {padding-top:0;}
  75%  {padding-top:10px;}
  100% {padding-top:0;}
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/* end animations */