/* import */
@import 'grid.min.css';
@import 'variable.css';
/* end import */

/* global */
html, body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  background-color: var(--titan-white);
}
p {
  line-height: 25px;
  font-size: large;
}
a {
  text-decoration: none;
  color: unset;
}
img {
  width: 100%;
  height: 100%;
}
/* end global */

/* navigation */
.navigation {
  height: 70px;
  position: fixed;
  width: 100%;
  background: var(--woodsmoke-05);
  display: flex;
  align-items: center;
  z-index: 1;
  color: var(--white);
}
.navigation__logo__desktop {
  width: 100px;
}
.navigation__logo__mobile {
  display: none;
}
.navigation__menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.navigation__menu__item {
  cursor: pointer;
  color: var(--white-05);
}
.navigation__menu__item--active, .navigation__menu__item:hover {
  color: var(--white);
}
.navigation__menu a:not(:last-child) {
  margin-right: 20px;
}
/* end navigation */

/* section 1 */
.intro {
  background: url(../images/17856.svg);
  padding-top: 200px;
  color: var(--white);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.intro .row:first-child {
  margin-bottom: 180px;
} 
.intro__greetings__name {
  font-weight: bold;
  font-size: xx-large;
  margin-bottom: 5px;
}
.intro__greetings__role {
  font-size: x-large;
  color: var(--white-05);
  margin-bottom: 10px;
}
.intro__photo {
  display: flex;
  justify-content: flex-end;
}
.intro__photo img {
  width: 200px;
  /* animation-name: floating;
  animation-duration: 5s;
  animation-iteration-count: infinite; */
}
.intro__cta a {
  display: flex;
}
.intro__cta a svg {
  margin-right: 5px;
}
/* end section 1 */

/* section 2 */
.work {
  background: url(../images/17356.svg);
  color: var(--white);
  background-size: 108%;
  background-position: top;
  background-repeat: no-repeat;
  padding-top: 70px;
}
.work__title {
  font-size: xx-large;
  font-weight: bold;
  margin-bottom: 50px;
}
.work__box {
  height: 200px;
  margin-bottom: 30px;
  cursor: pointer;
  transition: all .3s;
}
.work__box.work__box--bottom {
  margin-bottom: 0;
}
.work__box:hover {
  transform: scale(1.05);
}
/* end section 2 */

/* section 3 */
.contact {
  padding-top: 70px;
}
.contact__title {
  font-size: xx-large;
  font-weight: bold;
  margin-bottom: 50px;
}
.contact__footer {
  margin: 100px 0 15px 0;
}
.contact__footer .row a {
  display: flex;
  justify-content: flex-end;
}
.contact__footer__btt {
  background: var(--royal-blue);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: var(--white);
  cursor: pointer;
}
.contact__footer__text {
  display: flex;
  align-items: center;
}
.contact__footer__text svg {
  margin-left: 5px;
}


/* end section 3 */

/* dry */
.work__box {
  width: 100%;
  box-shadow: rgb(54 127 238 / 6%) 0px 27px 72px;
  border-radius: 5px;
  background-color: var(--white);
}
.contact__footer__btt {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* end dry */

/* breakpoints */
/* minnimum */
@media(min-width: 1920px) {
  .col-sm-8 {
    padding: 0 150px 0 150px;
  }
  .intro .row:first-child {
    margin-bottom: 490px;
  }
}
/* end minimum */

/* maximum */
@media(max-width: 1200px) {}
@media(max-width: 992px) {}
@media(max-width: 768px) {}
@media(max-width: 576px) {
  /* nav section */
  .navigation__logo__mobile {
    display: block;
    width: 50px;
  }
  .navigation__logo__desktop {
    display: none;
  }
  /* section 1 */
  .intro {
    padding-top: 100px;
  }
  .intro__photo {
    order: 1;
    justify-content: center;
    margin-bottom: 30px;
  }
  .intro__photo img {
    width: 150px;
  }
  .intro__greetings {
    order: 2;
  }
  /* section 2 */
  .work {
    background-size: 470%;
    background-position: top center;
  }
}
/* end maximum */
/* end breakpoints */

/* animations */
/* @keyframes floating {
  0%   {padding-top:0px;}
  25%  {padding-top:0px;}
  50%  {padding-top:10px;}
  75%  {padding-top:10px;}
  100% {padding-top:0px;}
} */
/* end animations */