/* import another */
@import 'grid.min.css';
@import 'variable.css';

/* declare font */
@font-face {
  font-family: Lato;
  src: url(../fonts/Lato-Regular.ttf);
}

/* set global */
html, body {
  font-family: Lato;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  background-color: var(--titan-white);
}
p {
  line-height: 25px;
  font-size: large;
}
a {
  text-decoration: none;
  color: unset;
}

/* navigation */
.navigation {
  height: 70px;
  position: fixed;
  width: 100%;
  background: var(--woodsmoke-05);
  display: flex;
  align-items: center;
  z-index: 1;
  color: var(--white);
}
.navigation__logo img {
  width: 100px;
}
.navigation__menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.navigation__menu__item {
  cursor: pointer;
  color: var(--white-05);
}
.navigation__menu__item--active, .navigation__menu__item:hover {
  color: var(--white);
}
.navigation__menu a:not(:last-child) {
  margin-right: 20px;
}

/* section 1 */
.intro {
  background: url(../images/17856.svg);
  padding-top: 200px;
  color: var(--white);
}
.intro .row {
  padding-bottom: 100px;
} 
.intro__greetings__name {
  font-weight: bold;
  font-size: xx-large;
  margin-bottom: 5px;
}
.intro__greetings__role {
  font-size: x-large;
  color: var(--white-05);
  margin-bottom: 10px;
}
.intro__photo {
  display: flex;
  justify-content: flex-end;
}
.intro__photo img {
  width: 200px;
  /* animation-name: floating;
  animation-duration: 5s;
  animation-iteration-count: infinite; */
}
.intro__cta {
  font-size: large;
}
/* section 2 */
.work {
  background: url(../images/17356.svg);
  color: var(--white);
  margin-bottom: 70px;
}
.work__title {
  font-size: xx-large;
  font-weight: bold;
  margin-bottom: 20px;
}
.work__desc {
  text-align: center;
  margin-bottom: 30px;
}
.work__box {
  height: 200px;
  margin-bottom: 30px;
}
/* section 3 */
.contact {
  background: url(../images/17357.svg);
}
.contact__title {
  font-size: xx-large;
  font-weight: bold;
  margin-bottom: 20px;
}
.contact__box {
  height: 400px;
}
.contact__footer {
  color: var(--white);
  text-align: right;
  margin-bottom: 20px;
}

/* dry */
.intro, .work, .contact {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.work__box, .contact__box {
  width: 100%;
  box-shadow: rgb(54 127 238 / 6%) 0px 27px 72px;
  border-radius: 5px;
  background-color: var(--white);
}

/* breakpoints */
@media(max-width: 1200px) {}
@media(max-width: 992px) {}
@media(max-width: 768px) {}
@media(max-width: 576px) {
  /* section 1 */
  .intro {
    padding-top: 100px;
  }
  .intro__photo {
    order: 1;
    justify-content: center;
    margin-bottom: 30px;
  }
  .intro__photo img {
    width: 150px;
  }
  .intro__greetings {
    order: 2;
  }
}

/* animations */
/* @keyframes floating {
  0%   {padding-top:0px;}
  25%  {padding-top:0px;}
  50%  {padding-top:10px;}
  75%  {padding-top:10px;}
  100% {padding-top:0px;}
} */